* {
  font-family: Arial, Helvetica, sans-serif;

}
:root {
  --background-items: rgb(131, 122, 116);
  --background: rgb(211, 208, 205);
  --background-Header: rgb(114, 103, 103);
  --color-red: rgb(139, 19, 19);
  --color-white: rgb(223, 212, 212);
  --color-black: rgb(17, 16, 16);
}

a {
  text-decoration: none;
}

#root {
  margin: -8px;
  height: fit-content;
  position: absolute;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  
}
.body .bac{
  position: fixed;
  width: 100%;
  height: max-content;
  object-fit: fill;
  z-index: -10;
}
/* Header */
.header {
  width: 100%;
  height: 50px;
  background-color: var(--background-Header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 101;
}
/* search-box */
.search {
  display: flex;
  background-color: var(--background-Header);
}
.search-box {
  background-color: inherit;
  position: relative;
}
#input {
  margin: 0 10px;
  width: 200px;
  height: 30px;
  border: 0;
  border-radius: 50px;
  padding: 5px;
  font-size: 15px;
  color: var(--background-Header);
}

#notFindMovie span {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  width: 210px;
  font-size: 14px;
  background-color: var(--color-red);
}
#ShowSearchMoviesOff {
  display: none;
}
#ShowSearchMoviesOn {
  position: fixed;
  width: 220px;
  height: 260px;
  margin-top: 5px;
  background-color: var(--background-Header);
  overflow: auto;
}

#ShowSearchMoviesOn .items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 5px;
  width: 95%;
  background-color: var(--background-Header);
}
#ShowSearchMoviesOn .items .names {
  padding: 0 5px;
  font-size: 17px;
  background-color: var(--background-Header);
  color: var(--color-red);
  width: 100%;
}
#ShowSearchMoviesOn .items img {
  width: 60px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
}

/* search Icon */

.searchIcon {
  display: grid;
  border-radius: 50%;
  margin: 5px;
}
.btnSearchLink {
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.btnSearch {
  color: var(--color-white);
  border: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnSearch i {
  color: var(--color-red);
}

/* btn home */

#homeIcon {
  display: grid;
  border-radius: 50%;
  margin: 5px;
}

#homeIcon #btnHome {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--background);
  border: 0;
}

#homeIcon #btnHome i {
  background-color: var(--background);
  color: var(--color-red);
  font-size: 15px;
}

#newHomeIcon {
  display: grid;
  border-radius: 50%;
  margin: 5px;
}

#NewHomeIcon #btnHome {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--background);
  border: 0;
}

#NewHomeIcon #btnHome i {
  background-color: var(--background);
  color: var(--color-red);
  font-size: 15px;
}

/* bestMovies */


#bestMovies {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 65px;
  width: 100%;
  height: 500px;
}

#bestMovies #images {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
#bestMovies #btnLeft {
  margin: 0 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}
#bestMovies #btnRight {
  width: 35px;
  height: 35px;
  margin: 0 10px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}


#bestMovies #images .imgShow{
  width: 300px;
  height: 450px;
  margin: 0 50px;
  opacity: 0.6;
  box-shadow: 0px 6px 20px 1px;
  position: static;

  
}


#bestMovies #images .imgShowCenter {
  width: 350px ;
  height: 500px;
  box-shadow: 0px 6px 20px 1px;
  position: static;
}



/* Movies Show */

#MoviesShow {
  width: 100%;
  justify-items: center;
  align-items: center;
  padding-top: 50px;
  display: grid;
  opacity: .8;
}

#displayOff {
  display: none;
}

#displayOn {
  width: 800px;
  margin: 50px;
}

.movieShow {
  background-color: var(--background-items);
  border-radius: 50px;
  padding: 15px;
  display: grid;
  grid-template-columns: auto auto;
}
.movieShow .Picture {
  background-color: var(--background-items);
  display: flex;
  justify-content: center;
  align-items: center;
}

.movieShow .Picture img {
  border-radius: 10px;
  width: 250px;
  height: 350px;
  object-fit: cover;
}
.movieShow .information {
  background-color: var(--background-items);
  display: grid;
}
.movieShow .information .item-name {
  display: flex;
  font-size: 15px;
  color: var(--color-red);
  background-color: inherit;
  justify-content: center;
}
.movieShow .information .item-name .name {
  color: var(--color-red);
  background-color: inherit;
}
.movieShow .item {
  display: flex;
  background-color: inherit;
  justify-content: flex-start;
  align-items: flex-start;
}

.movieShow .information .item .itemName {
  color: var(--color-red);
  background-color: inherit;
  display: flex;
  font-size: 20px;
}
.movieShow .information .item .text {
  width: 240px;
  display: flex;
  background-color: inherit;
  color: var(--color-white);
  font-size: 18px;
  width: 350px;
  height: 50px;
}

/* Movie show */

#movie {
  width: 100%;
  padding-top: 60px;
  background-color: inherit;
  height: fit-content;
}
#movie .main {
  display: flex;
}


#movie #name {
  display: flex;
  justify-content: flex-start;
  background-color: inherit;
  color: var(--color-black);
  width: 100%;
}
#movie #name span{
  color: var(--color-black);
  font-size: 25px;
  font-weight: 900;
  margin: 0 50px;
}
#movie .column1 img {
  width: 250px;
  height: 350px;
  border-radius: 10%;
  object-fit: cover;
  margin: 20px;
}
#movie .main .column2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: inherit;
  justify-items: center;
  align-items: center;
}
#movie .main .column2 .col1 {
  margin: 0 10px;
}

#movie .main .column2 .col1 p {
  background-color: inherit;
  font-size: 25px;
  color: var(--color-black);
  cursor: context-menu;
  text-align: justify;
}
#movie .main .column2 .col1 p span {
  padding-left: 10px;
  background-color: inherit;
  font-size: 25px;
}
#movie .main .column2 .col2 {
  background-color: var(--background-Header);
  border-radius: 10px;
  margin: 5px 10px;
  height: fit-content;
  width: fit-content;
}
#movie .main .column2 .col2 p {
  background-color: inherit;
  font-size: 20px;
  color: var(--color-red);
  cursor: context-menu;
  padding: 0 10px;
}
#movie .main .column2 .col2 p span {
  padding-left: 10px;
  background-color: inherit;
  font-size: 20px;
  color: var(--color-black);
}

#movie .main .column2 .links {
  display: flex;
  background-color: inherit;
  justify-content: space-around;
}
#movie .main .column2 .link {
  margin: 0px 15px;
  border: 3px solid var(--color-red);
  padding: 5px;
  border-radius: 20px;
  font-size: 15px;
  text-decoration: none;
  color: var(--color-red);
  background-color: inherit;
  width: 100px;
  display: flex;
  align-content: center;
  justify-content: center;
}

/* vpn */

.vpn {
  padding-top: 150px;
  display: flex;
  justify-content: center;
}
.vpn .text {
  border: 5px solid var(--color-red);
  padding: 20px;
  border-radius: 40px;
  color: var(--background-Header);
}
.vpn .text span {
  color: var(--color-red);
}

/* pagination */
.containerPaginationDisplayOff {
  display: none;
}
.containerPagination {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-items: center;
  padding: 10px 0px;
  background-color: var(--background-Header);
}
.titlePagination {
  display: flex;
  align-items: center;
  background-color: var(--background-Header);
  color: var(--color-red);
  font-size: 20px;
  height: 30px;
}
.titlePagination p {
  background-color: var(--background-Header);
}
.paginationShow {
  background-color: var(--background-Header);
  display: flex;
  justify-content: center;
}
.paginationShow #next {
  padding: 0 8px;
  background-color: var(--background-Header);
  color: var(--color-red);
  border: 0px;
  cursor: pointer;
}
.paginationShow #previous {
  background-color: var(--background-Header);
  cursor: pointer;
  padding: 0 8px;
  color: var(--color-red);
  border: 0px;
}
#pages {
  background-color: var(--background-Header);
  margin: 10px;
}
.numbers {
  background-color: var(--background-Header);
  color: var(--color-white);
  cursor: pointer;
  padding: 0 6px;
  border: 1px solid var(--color-white);
  border-radius: 50%;
  margin: 0px 10px;
}
.active {
  background-color: var(--background-Header);
  cursor: pointer;
  padding: 0 6px;
  color: var(--color-red);
  border: 1px solid var(--color-red);
}
