:root {
  --background-items: rgb(61, 28, 22);
  --background: rgb(211, 208, 205);
  --background-Header: rgb(114, 103, 103);
  --color-orange: rgb(250, 165, 7);
  --color-orange-light: rgb(206, 158, 70);
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(17, 16, 16);
}

a {
  text-decoration: none;
}

.body {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.bac {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  object-fit: cover;
  z-index: -10;
}

/* search-box */

.search {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.search-box {
  background-color: inherit;
  position: relative;
}

#input {
  margin: 0 15px;
  width: 200px;
  height: 30px;
  border: 0;
  border-radius: 50px;
  padding: 5px;
  font-size: 20px;
  color: var(--color-black);
  background-color: var(--color-orange);
}

#input:focus {
  background-color: var(--color-orange-light);
  outline: none;
}

#input:active {
  background-color: var(--color-orange-light);
  border: 0;
}
#notFindMovie span {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  width: 210px;
  font-size: 14px;
  background-color: var(--color-orange);
}

#SearchMovies {
  height: 0px;
  width: 0px;
  margin-left: 10px;
  overflow: hidden;
  overflow-x: hidden;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 100;
  background-color: var(--background-Header);
  opacity: 0.9;
  transition: all 0.8s ease-in-out;
  position: absolute;
}

#SearchMovies .down {
  position: absolute;
  z-index: 100;
  width: 210px;
  bottom: 0px;
}
#SearchMovies .up {
  position: absolute;
  z-index: 100;
  width: 210px;
}

#SearchMovies a {
  display: grid;
  transition: all 0.8s ease-in-out;
}
#SearchMovies .items {
  display: flex;
  align-items: center;
  margin: 0px 10px;
  border-radius: 10px;
  margin-top: 25px;
  overflow: hidden;
  transition: all 0.8s ease-in-out;
  
}

#SearchMovies .items .names{
  margin: 0 5px;
  font-size: 20px;
  color: var(--color-orange);
  
}

#SearchMovies .items img {
  width: 50px;
  height: 60px;
  border-radius: 10px;
  object-fit: cover;
}
#SearchMovies .items-active {
  display: flex;
  align-items: center;
  margin: 0px 10px;
  border-radius: 10px;
  margin-top: 25px;
  overflow: hidden;
  background-color: var(--color-orange-light);
  transition: all 0.8s ease-in-out;
}
#SearchMovies .items-active .names {
  margin: 0 5px;
  font-size: 20px;
  color: var(--color-white);
}
#SearchMovies .items-active img {
  width: 50px;
  height: 60px;
  border-radius: 10px;
  object-fit: cover;
}

/* search Icon */

.searchIcon {
  display: grid;
  border-radius: 50%;
  margin: 5px;
}
.btnSearchLink {
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.btnSearch {
  background-color: inherit;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-orange);
}
.btnSearch i {
  color: var(--color-orange);
}

/* btn home */

#homeIcon {
  display: grid;
  border-radius: 50%;
  margin: 5px;
}

#homeIcon #btnHome {
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: inherit;
  border: 1px solid var(--color-orange);
}

#homeIcon #btnHome i {
  background-color: inherit;
  color: var(--color-orange);
  font-size: 15px;
}

#newHomeIcon {
  display: grid;
  border-radius: 50%;
  margin: 5px;
}

#NewHomeIcon #btnHome {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--background);
  border: 0;
}

#NewHomeIcon #btnHome i {
  background-color: var(--background);
  color: var(--color-orange);
  font-size: 15px;
}

/* bestMovies */

#bestMovies {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
}

#bestMovies #images {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
#bestMovies #btnLeft {
  margin: 0 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  background-color: inherit;
  color: var(--color-orange);
  border: 2px solid var(--color-orange);
}
#bestMovies #btnRight {
  width: 35px;
  height: 35px;
  margin: 0 10px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  background-color: inherit;
  color: var(--color-orange);
  border: 2px solid var(--color-orange);
}

#bestMovies #images .imgShow {
  width: 300px;
  height: 450px;
  margin: 0 50px;
  opacity: 0.6;
  box-shadow: 0px 6px 20px 1px;
  cursor: pointer;
}

#bestMovies #images .imgShowCenter {
  width: 350px;
  height: 500px;
  box-shadow: 0px 6px 20px 1px;
  cursor: pointer;
}

/* Movies Show */

#MoviesShow {
  display: flex;
  width: 100%;
  height: 500px;
  justify-content: center;
}

#displayOff {
  display: none;
}

#displayOn {
  width: 500px;
  cursor: pointer;
  margin: 10px;
}
.movieShow {
  border-radius: 50px;
  padding: 15px;
  margin: 10px;
  display: grid;
  grid-template-columns: auto;
}
.movieShow #backgroundImage {
  box-shadow: 0px 0px 50px 10px;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  width: 480px;
  height: 450px;
  border-radius: 20px;
}

.movieShow .name {
  color: var(--color-orange);
  background-color: inherit;
  display: flex;
  justify-content: center;
  font-family: cursive;
}
.movieShow .information {
  width: 500px;
  display: grid;
  grid-template-columns: auto auto;
}
.movieShow .information .col1 {
  width: 250px;
}
.movieShow .information .col2 {
  width: 250px;
}
.movieShow .information .col1 .item-lan-rat {
  font-size: 30px;
  margin: 5px;
  color: var(--color-orange);
  height: 70px;
}
.movieShow .information .col1 .item-lan-rat i {
  padding: 10px 10px;
}
.movieShow .information .col1 .item-lan-rat span {
  font-family: fantasy;
}
.movieShow .information .col1 .genres-summary {
  padding-top: 20px;
  margin: 10px 20px;
}
.movieShow .information .col1 .genres-summary .item {
  padding: 10px 0;
  width: 240px;
  position: relative;
  background-color: var(--color-black);
  opacity: 0.9;
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0 10px 10px;
}

.movieShow .information .col1 .genres-summary .item .title {
  color: var(--color-orange);
  font-size: 20px;
  font-family: monospace;
  font-weight: 900;
}
.movieShow .information .col1 .genres-summary .item .line {
  border: 2px solid var(--color-orange-light);
  border-radius: 20px;
  width: 80%;
  margin: 5px 0;
}
.movieShow .information .col1 .genres-summary .item .text {
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 18px;
  font-family: monospace;
  width: 220px !important;
  display: flex;
  overflow: hidden;
}

.movieShow .Picture {
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}

.movieShow .Picture img {
  border-radius: 10px;
  width: 150px;
  object-fit: contain;
}

/* Movie show */
.body-movie {
  display: flex;
  width: 100%;
  justify-content: center;
}
#movie {
  width: 1260px;
  padding-top: 20px;
  background-color: inherit;
  height: fit-content;
}
#movie .main {
  display: flex;
}

#movie #name {
  display: flex;
  justify-content: flex-start;
  background-color: inherit;
  width: 100%;
}
#movie #name span {
  color: var(--color-white);
  font-family: cursive;
  font-size: 25px;
  font-weight: 900;
  margin: 0 50px;
}
#movie .column1 img {
  width: 250px;
  height: 350px;
  border-radius: 10%;
  object-fit: cover;
  margin: 20px;
  box-shadow: 0px 0px 20px 10px;
}
#movie .main .column2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: inherit;
  justify-items: center;
  align-items: start;
}
#movie .main .column2 .col1 {
  margin: 0 10px;
  height: 400px;
}

#movie .main .column2 .col1 .summary {
  background-color: inherit;
  font-size: 20px;
  color: var(--color-white);
  font-family: monospace;
  cursor: context-menu;
  text-align: justify;
  padding: 10px;
}

#movie .main .column2 .col2 {
  margin: 5px 10px;
  height: fit-content;
  width: fit-content;
}
#movie .main .column2 .col2 p {
  font-size: 20px;
  font-family: cursive;
  color: var(--color-orange);
  cursor: context-menu;
  padding: 0 10px;
}
#movie .main .column2 .col2 p span {
  padding-left: 10px;
  background-color: inherit;
  font-size: 20px;
  color: var(--color-white);
  font-family: monospace;
}

#movie .main .column2 .links {
  display: grid;
}
#movie .main .column2 .link {
  margin: 5px 0px;
  border: 3px solid var(--color-orange);
  padding: 5px;
  border-radius: 20px;
  font-size: 15px;
  text-decoration: none;
  color: var(--color-white);
  background-color: inherit;
  width: 100px;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: cursive;
}

/* vpn */

.vpn {
  padding-top: 150px;
  display: flex;
  justify-content: center;
}
.vpn .text {
  border: 5px solid var(--color-orange);
  padding: 20px;
  border-radius: 40px;
  color: var(--background-Header);
}
.vpn .text span {
  color: var(--color-orange);
}

/* pagination */
.containerPaginationDisplayOff {
  display: none;
}
.containerPagination {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-items: center;
  padding: 10px 0px;
}
.titlePagination {
  display: flex;
  align-items: center;
  color: var(--color-orange);
  font-size: 20px;
  height: 30px;
  cursor: context-menu;
}

.paginationShow {
  display: flex;
  justify-content: center;
}
.paginationShow #next {
  padding: 0 8px;
  background-color: inherit;
  color: var(--color-orange);
  border: 0px;
  cursor: pointer;
}
.paginationShow #previous {
  background-color: inherit;
  cursor: pointer;
  padding: 0 8px;
  color: var(--color-orange);
  border: 0px;
}
#pages {
  margin: 10px;
}
.numbers {
  color: var(--color-white);
  cursor: pointer;
  padding: 0 6px;
  border: 1px solid var(--color-white);
  border-radius: 50%;
  margin: 0px 10px;
}
.active,
.numbers:hover {
  background-color: inherit;
  cursor: pointer;
  padding: 0 6px;
  color: var(--color-orange);
  border: 1px solid var(--color-orange);
}
