* {
  background-color: var(--background);
}
:root {
  --background-items: rgb(131, 122, 116);
  --background: rgb(211, 208, 205);
  --background-Header: rgb(114, 103, 103);
  --color-span-green: rgb(255, 145, 0);
  --color-span-text: rgb(223, 212, 212);
}

a {
  text-decoration: none;
}

#root {
  margin: -8px;
}
/* Header */
.header {
  width: 100%;
  height: 50px;
  background-color: var(--background-Header);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  z-index: 100;
  padding: 0px 50px;
}
/* search-box */
.search-box {
  display: grid;
  justify-content: center;
  background-color: inherit;
  margin-top: 0px;
  position: relative;
}
#input {
  width: 200px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50px;
  padding: 5px;
  font-size: 15px;
  color: var(--background-Header);
}
#notFindMovieDisplayOff{
  display: none;
}
#notFindMovieDisplayOn{
display: flex;
align-items: center; 
position: absolute;
width: 210px;
height: 30px;
margin: 48px 0;
background-color: var(--color-span-green);
border-radius: 50px;
}
#notFindMovie span{
border-radius: 50px;
display: flex;
justify-content: center;
width: 210px;
font-size: 14px;
background-color: var(--color-span-green);
}

/* search Icon */
.buttons{
display: flex;
background-color: var(--background-Header);
align-items: center;
}
.buttons .searchIcon {
  display: contents;
}
.buttons .btnSearchLink {
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.buttons .btnSearch {
  color: var(--color-span-text);
  border: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons .btnSearch i {
  color: var(--color-span-green);
}

/* btn home */


#homeIcon {
  display: grid;
  border-radius: 50%;
  margin: 5px;
}

#homeIcon #btnHome {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--background);
  border: 0;
}

#homeIcon #btnHome i {
  background-color: var(--background);
  color: var(--color-span-green);
  font-size: 15px;
}


#newHomeIcon {
  display: grid;
  border-radius: 50%;
  margin: 5px;
}

#NewHomeIcon #btnHome {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--background);
  border: 0;
}

#NewHomeIcon #btnHome i {
  background-color: var(--background);
  color: var(--color-span-green);
  font-size: 15px;
}


/* bestMovies */

.bestMovies{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 65px;
}
.bestMovies .images{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bestMovies .btnLeft{
  margin: 0 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}
.bestMovies .btnRight{
  width: 35px;
  height: 35px;
  margin: 0 10px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}
.displayOffBestMovie{
  display: none;
}
.bestMovies .images .imgNotShow{
  width: 300px;
  height: 450px;
  display: none;
}
.bestMovies .images .imgShow{
  width: 300px;
  height: 450px;
  display: block;
  margin: 0 10px;
}

.bestMovies .images .imgShowCenter{
  width: 350px;
  height: 500px;
  display: block;
}


/* Movies Show */

#MoviesShow {
  width: 100%;
  justify-items: center;
  align-items: center;
  padding-top: 50px;
  display: grid;
}

#displayOff {
  display: none;
}

#displayOn {
  width: 800px;
  height: 480px;
  margin: 25px;
}

.movieShow {
  background-color: var(--background-items);
  border-radius: 50px;
  padding: 15px;
  display: grid;
  grid-template-columns: auto auto;
}
.movieShow .Picture {
  background-color: var(--background-items);
  display: flex;
  justify-content: center;
  align-items: center;
}

.movieShow .Picture img{
  border-radius: 10px;
  width: 250px;
  height: 350px;
  object-fit: cover;
}
.information {
  background-color: var(--background-items);
  display: grid;
}
.information .item-name{
  display: flex;
  font-size: 20px;
  color: var(--color-span-green);
  background-color: inherit;
  justify-content: center;
}
.information .item-name .name{
  color: var(--color-span-green);
  background-color: inherit;
}
.item {
  display: flex;
  background-color: inherit;
  justify-content: flex-start;
  align-items: flex-start;
}

.information .item .itemName {
  color: var(--color-span-green);
  background-color: inherit;
  display: flex;
  font-size: 20px;
}
.information .item .text {
  width: 240px;
  display: flex;
  background-color: inherit;
  color: var(--color-span-text);
  font-size: 18px;
  width: 350px;
  height: 50px;
}

/* Movie show */

/* #Show .movieShow {
  width: 100%;
  padding-top: 10px;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: var(--background);
  height: 600px;
  border-radius: 50px;
}

#Show .movieShow img {
  width: 450px;
  height: 500px;
  border-radius: 10%;
  object-fit: cover;
  margin: 20px;
}

#Show .movieShow .information {
  display: grid;
  grid-template-columns: auto;
  background-color: inherit;
  justify-items: start;
  align-items: center;
  height: 600px;
  background-color: var(--background-Header);
} 
.information #names {
  width: 98%;
}
.information .names span {
  display: flex;
  justify-content: center;
  background-color: inherit;
  color: var(--color-span-green);
  font-size: 25px;
}
.information p {
  background-color: inherit;
  font-size: 20px;
  color: var(--color-span-text);
  cursor: context-menu;
}
.information p span {
  background-color: inherit;
  font-size: 25px;
  color: var(--color-span-green);
}
.information .links {
  display: flex;
  justify-content: space-evenly;
  width: 98%;
  background-color: inherit;
  padding-top: 40px;
}
.link {
  border: 3px solid var(--color-span-green);
  padding: 5px;
  border-radius: 20px;
  font-size: 15px;
  text-decoration: none;
  color: var(--color-span-green);
  background-color: var(--background-items);
} */

/* vpn */

.vpn {
  padding-top: 150px;
  display: flex;
  justify-content: center;
}
.vpn .text {
  border: 5px solid var(--color-span-green);
  padding: 20px;
  border-radius: 40px;
  color: var(--background-Header);
}
.vpn .text span {
  color: var(--color-span-green);
}

/* notMovie */

.notMovie {
  padding-top: 150px;
  display: flex;
  justify-content: center;
}
.notMovie .text {
  border: 5px solid var(--color-span-green);
  padding: 20px;
  border-radius: 40px;
  color: var(--background-Header);
}
.notMovie .text span {
  color: var(--color-span-green);
}

/* pagination */
.containerPaginationDisplayOff{
  display: none;
}
.containerPagination {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-items: center;
  padding: 10px 0px;
  background-color: var(--background-Header);
}
.titlePagination {
  display: flex;
  align-items: center;
  background-color: var(--background-Header);
  color: var(--color-span-green);
  font-size: 20px;
  height: 30px;
}
.titlePagination p{
  background-color: var(--background-Header);
}
.paginationShow {
  background-color: var(--background-Header);
  display: flex;
  justify-content: center;
}
.paginationShow #next {
  padding: 0 8px;
  background-color: var(--background-Header);
  color:var(--color-span-green);
  border: 0px;
  cursor: pointer;
}
.paginationShow #previous {
  background-color: var(--background-Header);
  cursor: pointer;
  padding: 0 8px;
  color: var(--color-span-green);
  border: 0px;
}
#pages{
background-color: var(--background-Header);
margin: 10px;
}
.numbers {
  background-color: var(--background-Header);
  color: var(--color-span-text);
  cursor: pointer;
  padding: 0 6px;
  border: 1px solid var(--color-span-text);
  border-radius: 50%;
  margin: 0px 10px;
}
.active {
  background-color: var(--background-Header);
  cursor: pointer;
  padding: 0 6px;
  color: var(--color-span-green);
  border: 1px solid var(--color-span-green);
}
